*{
        margin:0;
        padding: 0;
        font-family: 'Times New Roman', Times, serif;
        box-sizing: border-box;
       
}

.container1{
        width: 100%;
        min-width: fit-content;
        padding: 10px;
        background-color: darkblue;
      }


.todo-app{
        width: 100%;
        max-width: 540px;
        background: #ffffff;
        margin: 100px auto 20px;
        padding: 40px 30px 70px;
        border-radius: 10px;

}
        
.todo-app h2{
        color: rgb(85, 92, 11);
        display: flex;
        align-items: center;
        margin-bottom: 20px;
}

.todo-app img{
        height: 100px;
        width: 100px;
      }

.row{
        display: flex;
        align-items:center;
        justify-content: space-between;
        background: rgb(158, 134, 13);
        border-radius: 30px;
        padding-left: 20px;
        margin-bottom: 25px;
}


input{
        flex: 1;
        border: none;
        outline: none;
        background:rgb(158, 134, 13);
        padding: 10px;
        color: aliceblue;
}

button{
        border: none;
        outline: none;
        padding: 16px 50px;
        background: #044365;
        color: #fff;
        font-size: 16px;
        cursor: pointer;
        border-radius: 40px;
}


ul li{
        list-style: none;
        font-size: 17px;
        padding: 12px 8px 12px 50px;
        user-select: none;
        cursor: pointer;
        position: relative;
}

ul li::before{
                content: '';
                position: absolute;
                height: 28px;
                width: 28px;
                border-radius: 50%;
                background-image: url(unchecked.png);
                background-size: cover;
                background-position: center;
                top: 12px;
                left: 8px;
}

ul li.checked{
        color: #555;
        text-decoration: line-through;
}

ul li.checked::before{
                        background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSyefJRnolF1Rr90aAhdwP9993t7509PcvSMWPHWwF8RpI3vv8Y1VOkYja4eAprd1mSOh8&usqp=CAU);
}